/*
* @Author: Matija Culjak
* @Date:   2017-10-05 13:50:31
* @Last Modified by:   Matija Culjak
* @Last Modified time: 2017-10-06 06:04:23
*/

.footer {
  background-color: $grey-whiteish-color;
  padding-top: rem(40);
}

.footer .no-time {
  padding-bottom: rem(20);
}

.footer .no-time a {
  @include transition();
  will-change: color;

  &:hover {
    color: $black-color;
  }
}

.footer .cards {
  margin-top: rem(17);
}

.footer .cards img {
  display: block;
  max-width: rem(600);
  margin: 0 auto;

  @include MQ(mobile) {
    margin: 0 rem(15);
  }
}

.footer__bottom {
  border-top: 1px solid $border-color;
  padding: rem(25) 0;
  margin-top: rem(25);
  @include clearfix();
}

.footer .copyright {
  padding: rem(3) rem(15) 0 rem(15);
  color: $another-grey-color-how-many-are-there;
  font-family: $font-medium;
  font-size: rem(12);
  line-height: rem(19);
  font-weight: 600;
  text-transform: uppercase;
}

.footer .logo {
  padding: 0 rem(15);

  @include MQ(mobile) {
    float: left;
    margin-top: rem(15);
  }
}
