/*
* @Author: Matija Culjak
* @Date:   2017-10-05 13:50:34
* @Last Modified by:   Matija Culjak
* @Last Modified time: 2017-10-06 06:49:31
*/

.header {
  box-shadow: rgba(0, 0, 0, .25) 0 1px 2px;
  z-index: z('header');
}

.header__top {
  background-color: $purple-dark-color;
  padding: rem(6) 0 rem(4);
}

.header__top p {
  text-align: center;
  text-transform: uppercase;
  color: $white-color;
  font-size: rem(11);
  font-family: $font-medium;
  font-weight: 600;
  line-height: line-height(11, 18);
}

.header__bottom {
  background-color: $white-color;

  @include MQ(desktop-) {
    height: rem(47);
  }
}

.header__bottom .container {
  position: relative;
  @include clearfix();
}

.header__bottom .logo {
  padding: rem(17) rem(15) 0 rem(14);
  max-width: rem(210);
  width: 100%;

  @include MQ(desktop-) {
    margin-left: rem(60);
    padding-top: rem(11);
  }
}

.header__bottom .logo img {
  max-width: rem(153);
  width: 100%;
}

.header__bottom h1 {
  font-size: 0;
}
