//#######################################
//## PROJECT COLORS #####################
//#######################################
$white-color: #ffffff;
$black-color: #333333;
$grey-light-color: #aaaaaa;
$grey-dark-color: #666666;
$grey-whiteish-color: #f7f7f7;
$another-grey-color-how-many-are-there: #999999;
$purple-light-color: #fb3395;
$purple-mid-dark-color: #cb339e;
$purple-dark-color: #78278B;
$border-color: #cccccc;
$red-color: red;
$error-color: $red-color;

//#######################################
//## DEFAULT ############################
//#######################################

$default-body-text-color: $grey-dark-color;
$default-body-link-color: $grey-dark-color;
$default-selection-text-color: $grey-dark-color;
$default-selection-bg-color: $white-color;
$headings-color: $grey-dark-color;
$hover-color: $black-color;
