@include font-face('Avenir-Light', 'AvenirNextCyr-Light');
@include font-face('Avenir-Medium', 'AvenirNextCyr-Medium');

$font-main: 'Avenir-Light', Helvetica, Arial, sans-serif;
$font-medium: 'Avenir-Medium', Helvetica, Arial, sans-serif;

//########################################
//## FONT ICONS ######################
//########################################

//########################################
//## SIZES ###############################
//########################################

$browser-context: 18; // px
$browser-line-height: 18; // px

$page-title-typography-map: (
  null: (50, 46, -0.2px),
  $S: (30, 28, -0.2px),
  $M: (50, 46, -0.2px),
  $L: (50, 46, -0.2px)
);
