//#######################################
//## ROUTE TYPE #########################
//#######################################

$img-link-type: REL;
// OR
//$img-link-type: ABS;

//#######################################
//## IMG ROUTES #########################
//#######################################

$routeREL: '../images/';
$routeABS: '/static/images/';

//#######################################
//## FONT ROUTES ########################
//#######################################

$routeRELfont: '../fonts/';
$routeABSfont: '/static/fonts/';
