/*
* @Author: Matija Culjak
* @Date:   2017-10-05 19:32:12
* @Last Modified by:   Matija Culjak
* @Last Modified time: 2017-10-05 19:32:32
*/

@mixin clearfix() {
  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after {
    display: block;
    clear: both;
    height: 1px;
    margin-top: -1px;
    visibility: hidden;
  }

  & {
    *zoom: 1;
  }
}
