@mixin font-face($font-name, $font-filename: $font-name) {
  @font-face {
    font-family: "#{$font-name}";
    @if $img-link-type == "REL" {
      src: url("#{$routeRELfont+$font-filename}.eot}");
      src: url("#{$routeRELfont+$font-filename}.eot?#iefix") format("embedded-opentype"),
      url("#{$routeRELfont+$font-filename}.woff2") format("woff2"),
      url("#{$routeRELfont+$font-filename}.woff") format("woff"),
      //url("#{$routeRELfont+$font-filename}.svg?#{$version}#wf") format("svg"),
      url("#{$routeRELfont+$font-filename}.ttf") format("truetype");
    } @else if $img-link-type == "ABS" {
      src: url("#{$routeABSfont+$font-filename}.eot");
      src: url("#{$routeABSfont+$font-filename}.eot?#iefix") format("embedded-opentype"),
      url("#{$routeABSfont+$font-filename}.woff2") format("woff2"),
      url("#{$routeABSfont+$font-filename}.woff") format("woff"),
      //url("#{$routeABSfont+$font-filename}.svg?#{$version}#wf') format("svg"),
      url("#{$routeABSfont+$font-filename}.ttf") format("truetype");
    }
    font-weight: normal;
    font-style: normal;
    text-rendering: optimizeLegibility;
  }
}

@mixin typography-map($fs-map, $function: rem) {
  @each $fs-breakpoint, $fs-font-size in $fs-map {
    @if $fs-breakpoint == null {
      @include make-font-size($fs-font-size, $function);
    } @else {
      @include breakpoint($fs-breakpoint) {
        @include make-font-size($fs-font-size, $function);
      }
    }
  }
}

// Utility function for mixin font-size
@mixin make-font-size($fs-font-size, $function) {
  // If $fs-font-size is a list, include
  // font-size, line-height, letter-spacing
  @if type-of($fs-font-size) == "list" {
    @if $function == rem {
      font-size: rem(nth($fs-font-size, 1));
    } @else if $function == em {
      font-size: em(nth($fs-font-size, 1));
    } @else {
      font-size: nth($fs-font-size, 1);
    }
    @if (length($fs-font-size) > 1) {
      line-height: line-height(nth($fs-font-size, 1), nth($fs-font-size, 2));
    }
    @if (length($fs-font-size) > 2) {
      letter-spacing: nth($fs-font-size, 3);
    }
  }
  @else {
    @if $function == rem {
      font-size: rem($fs-font-size);
    } @else if $function == em {
      font-size: em($fs-font-size);
    } @else {
      font-size: $fs-font-size;
    }
  }
}

// DEPRECATED

@mixin font-size-map($fs-map, $function: rem) {
  @each $fs-breakpoint, $fs-font-size in $fs-map {
    @if $fs-breakpoint == null {
      @if $function == rem {
        font-size: rem($fs-font-size);
      } @else if $function == em {
        font-size: em($fs-font-size);
      } @else {
        font-size: $fs-font-size;
      }
    } @else {
      @include breakpoint($fs-breakpoint) {
        @if $function == rem {
          font-size: rem($fs-font-size);
        } @else if $function == em {
          font-size: em($fs-font-size);
        } @else {
          font-size: $fs-font-size;
        }
      }
    }
  }
}

@mixin font($font-size, $line-height, $letter-spacing: 0px) {
  // Usage: @include font(32, 60);
  //        @include font(24, 40, 0.5px);
  font-size: rem($font-size);
  line-height: line-height($font-size, $line-height);
  letter-spacing: $letter-spacing;
}
