@mixin multiline-text($font-size, $line-height, $lines-to-show) {
  display: block; /* Fallback for non-webkit */
  display: -webkit-box;
  height: $font-size * $line-height * $lines-to-show + unquote("px"); /* Fallback for non-webkit */
  margin: 0 auto;
  font-size: #{$font-size}px;
  line-height: $line-height;
  -webkit-line-clamp: #{$lines-to-show};
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}