/*------------------------
	Bounds
------------------------*/

@function lower-bound($range){
  @if length($range) <= 0 {
      @return 0;
  }
  @return nth($range,1);
}

@function upper-bound($range) {
  @if length($range) < 2 {
      @return 999999999999;
  }
  @return nth($range, 2);
}

/*------------------------
	Range definitions
------------------------*/

//Mobile
$mobile: 		(0, 767px);
$mobile-S: 		(0, 335px);
$mobile-M: 		(336px, 600px);
$mobile-SM: 	(0, 600px);
$mobile-L: 		(602px, 767px);
$mobile-tablet:  (0, 1023px);

//Tablet
$tablet: 		(768px, 1023px);
$tablet-S: 		(768px, 900px);
$tablet-L: 		(901px, 1023px);

//Desktop
$desktop: 		(1024px);
//$desktop-S: 	(value, value);
//$desktop-M: 	(value, value);
//$desktop-L: 	(value, value);
$desktop-XL:  (1510px);
$desktop-all: (1024px, 1510px);

$S:     320px;
$M:     768px;
$L:     1024px;

// custom

/*--------------------------------
	Media Query range templates
---------------------------------*/

@mixin MQ-range-bound($min, $max) {
  @media only screen and (min-width: #{lower-bound($min)}) and (max-width: #{upper-bound($max)}) {@content}

}

@mixin MQ-range-from($min) {
  @media only screen and (min-width: #{lower-bound($min)}) {@content}
}

/*------------------------
	Media Queries
------------------------*/

@mixin MQ($canvas: custom, $maxmin: max-width, $size: 0) {
  @if $canvas == mobile  		{@include MQ-range-bound 	($mobile, $mobile) 			{@content}}
  @if $canvas == mobile-S		{@include MQ-range-bound 	($mobile-S, $mobile-S) 		{@content}}
  @if $canvas == mobile-M		{@include MQ-range-bound 	($mobile-M, $mobile-M) 		{@content}}
  @if $canvas == mobile-SM	{@include MQ-range-bound 	($mobile-SM, $mobile-SM) 	{@content}}
  @if $canvas == mobile-L		{@include MQ-range-bound 	($mobile-L, $mobile-L) 		{@content}}

  @if $canvas == mobile- 		{@include MQ-range-from 	($tablet) 					{@content}}

  @if $canvas == tablet		{@include MQ-range-bound 	($tablet, $tablet) 			{@content}}
  @if $canvas == tablet-S		{@include MQ-range-bound 	($tablet-S, $tablet-S) 		{@content}}
  @if $canvas == tablet-M		{@include MQ-range-bound 	($tablet-M, $tablet-M) 		{@content}}
  @if $canvas == tablet-L		{@include MQ-range-bound 	($tablet-L, $tablet-L) 		{@content}}
  @if $canvas == tablet-SM    {@include MQ-range-bound 	($tablet-SM, $tablet-SM) 	{@content}}

  @if $canvas == desktop- 	{@include MQ-range-bound 	($mobile, $tablet) 			{@content}}

  @if $canvas == desktop		{@include MQ-range-from 	($desktop) 					{@content}}
  @if $canvas == desktop-S	{@include MQ-range-bound 	($desktop-S, $desktop-S) 	{@content}}
  @if $canvas == desktop-M	{@include MQ-range-bound 	($desktop-M, $desktop-M) 	{@content}}
  @if $canvas == desktop-L	{@include MQ-range-bound 	($desktop-L, $desktop-L) 	{@content}}
  @if $canvas == desktop-XL	{@include MQ-range-from 	($desktop-XL) 				{@content}}
  @if $canvas == mobile-desktopXL {@include MQ-range-bound ($mobile, $desktop-all) {@content}}
  @if $canvas == desktop-all {@include MQ-range-from   ($desktop-all)         {@content}}
  @if $canvas == desktop-all-bounds {@include MQ-range-bound($mobile, $desktop-all)         {@content}}

  @if $canvas == custom	{
    @media ($maxmin: $class) {
      @content;
    }
  }
}
