/* General layout */
section {
    width: 100%;
    display: block;
    position: relative;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;
}

.text-center    { text-align: center; }
.text-left      { text-align: left; }
.text-right     { text-align: right; }
.text-uppercase { text-transform: uppercase; }

.full-width     { width: 100%; }

.float-left     { float: left; }
.float-right    { float: right; }

.hidden         { display: none; }

/* Media elements */
// Responsive Media Elements
img, picture, video, audio, embed, object, input, iframe {
    max-width: 100%;
    margin: 0;
}

img {
    display: inline-block;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
    // Fix for SVGs
    &[src*=".svg"] {
        width: 100% \9;
    }

    // prevents border/background on linked image hover
    a:hover & {
        border: none;
        background: none;
    }
}

x::-ms-reveal, img[src*=".svg"] {
    width: 100%;
}

a img {
    border: none;
}
