html, body {
  width: 100%;
  display: block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

html {
  font-weight: normal;
  font-family: $font-main;
  font-size: $browser-context+px;
  color: $default-body-text-color;
  line-height: line-height($browser-context, $browser-line-height);
  @include border-box;
}

* {
  @include border-box;
}

body {
  overflow-x: hidden;
  padding: 0;
  margin: 0;

  &.mobile-menu-active {
    overflow-y: hidden;
    position: fixed;
    height: 100%;
  }
}

p {
  margin: 0;
  padding: 0;
  letter-spacing: rem(0.55);
}

a {
  color: $default-body-link-color;
  text-decoration: none;
  @include transition();



  &:hover {
    cursor: pointer;
    //color: $hover-color;
  }
}

a[href^="tel"] {
  color: inherit;
  text-decoration: none;
}

a[x-apple-data-detectors],
p[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-type: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  color: $headings-color;
  font-weight: normal;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
