/*
* @Author: Matija Culjak
* @Date:   2017-10-05 20:00:27
* @Last Modified by:   Matija Culjak
* @Last Modified time: 2017-10-06 07:12:24
*/

.mm-button {
  position: absolute;
  top: rem(15);
  left: rem(15);
  cursor: pointer;

  @include MQ(desktop) {
    display: none;
  }
}

.nav--main {
  padding: 0 rem(15);

  @include MQ(desktop-) {
    display: none;
  }
}

.nav--main li,
.nav--secondary li {
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
}

.nav--main a {
  font-family: $font-medium;
  font-weight: 600;
  text-transform: uppercase;
  font-size: rem(14.8);
  line-height: line-height(15, 18);
  letter-spacing: rem(3.4);
  padding: rem(25) 0 rem(23) rem(38);
  display: block;
  @include transition();
  will-change: color;

  &:hover {
    color: $hover-color;
  }

  @media all and (max-width: 1100px) {
    padding-left: rem(11);
  }
}

.nav--secondary {
  margin-top: rem(17);
  font-size: 0;
  padding-right: rem(30);

  @include MQ(desktop-) {
    padding-right: rem(15);
    position: absolute;
    top: rem(7);
    right: rem(15);
    padding: 0;
    margin-top: 0;
  }
}

.nav--secondary li {
  margin: 0 rem(7);
  cursor: pointer;
  opacity: 0.8;
  @include transition();
  will-change: opacity;

  &:hover {
    opacity: 1;
  }
}

.nav--secondary a {
  display: block;
  height: 100%;
}

.nav-icons__icon {
  width: rem(32);
  height: rem(32);
  background-repeat: no-repeat;
  background-size: rem(32) rem(32);
}

.nav-icons__icon--login {
  background-image: url($routeREL + 'login-tablet.svg');
}

.nav-icons__icon--cart {
  background-image: url($routeREL + 'bag-mobile-outline.svg');
}

.nav-icons__icon--lang {
  @include clearfix();
  width: auto;
}

.nav-icons__icon--lang span {
  float: left;
}

.nav-icons__icon--lang .icon {
  width: rem(16);
  height: rem(32);
  background-image: url($routeREL + 'language.svg');
  background-repeat: no-repeat;
  background-size: rem(32) rem(32);
  background-position: rem(-8) 0;
  margin-right: rem(7);
  opacity: 0.9;
  @include transition();
  will-change: opacity;
}

.nav-icons__icon--lang:hover {
  .icon {
    opacity: 1;
  }
}

.nav-icons__icon--lang .lang {
  font-size: rem(13);
  letter-spacing: 0.25em;
  text-transform: uppercase;
  font-family: $font-medium;
  font-weight: 600;
  line-height: rem(32);
  color: $hover-color;

  @include MQ(desktop-) {
    display: none;
  }
}

.nav-icons__icon--lang .drop-arrow {
  line-height: rem(32);
  width: rem(7);
  height: rem(32);
  margin-left: rem(2);
  background-image: url($routeREL + 'arrow-down.svg');
  background-repeat: no-repeat;
  background-position: left center;
}
