/*
* @Author: Matija Culjak
* @Date:   2017-10-05 19:57:17
* @Last Modified by:   Matija Culjak
* @Last Modified time: 2017-10-06 07:19:08
*/

section {
  display: block;
}

.section--main {
  height: rem(600);
  background: url($routeREL + 'bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-size: 170%;
  //z-index: -1;

  @include MQ(desktop-) {
    min-height: rem(400);
    height: auto;
    background-size: cover;
  }

  @include MQ-range-bound($mobile, (0, 1130px)) {
    background-size: cover;
  }
}

.section--main .container {
  height: 100%;
}
